---
---

// start content
/*@import "compass/css3";*/

html {
  // overflow-y: scroll;
  width: calc(100vw - 34px);
}

body {
  background-color: #FFF9F6;

  font-family: 'Roboto', sans-serif;  font-style: normal;
  font-weight: lighter;
  line-height: 1.5em;
  font-size: 16pt;

  max-width: 900px;
  margin: 20px auto;
  padding-left: 10px;
  padding-right: 10px;

}

a {
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  color:inherit;
  background-color: #E9D9D3;
  padding: 1px 3px 1px 3px;
}

pre {
  display: block;
  overflow-x: auto;
}

code {
  font-family: 'Roboto Mono', monospace;
  white-space: pre-wrap;
  word-break: break-word;
}

.monospace {
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 100%;
  padding: 10px;
}

h2 {
  font-size: 100%;
  font-weight: bold;
}

h3 {
  font-size: 100%;
  font-weight: normal;
}

h1:before {
  content: "> ";
}


header {
  background-color: #FFF2EC;
  padding: 20px;
  font-size: 24pt;
  line-height: 80%;
}

#root-url {
  padding: 5px;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
}

.active-url {
  background-color: #FFD5C4;
  font-weight: bold;
}

header > h1 {
  font-size: 200%;
  line-height: 100%;
  margin: 0.2em;
}

header p {
  margin: 0;
  line-height: 80%;
}

header p.command-line:before {
  content: "> ";
}

#shell {
  max-height: 200px;
  overflow-y: hidden;
}

.command-line {
  box-sizing: border-box;
  display: block;
  font-size: 100%;
  padding-top: 10px;
  padding-left: 0px;
  font-weight: bolder;
}

.command-result {
  box-sizing: border-box;
  display: block;
  font-size: 100%;
  padding-top: 10px;
  padding-left: 0px;
  font-weight: bolder;
}

#cursor:after {
  content:"_";
  opacity: 0;
  animation: cursor-animation 1s infinite;
}

@keyframes cursor-animation {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

input#cursor-input {
  width: 0;
  outline: none;
  border: none;
  background-color: #FFF2EC;
  color: #FFF2EC;
}
nav {
  text-transform: lowercase;
}

article {
  background-color: #FFF2EC;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

article.a {
  background-color: #E9D9D3;
}

article > p {
  padding-left: 20px;
  padding-right: 20px;
}

article pre {
  padding: 10px;
  background-color: rgb(241, 231, 226);
  white-space: pre;
}

article code {
  background-color: rgb(241, 231, 226);
}

#markdown-toc::before {
  content: "Contents";
  font-weight: bolder;
}

#markdown-toc ul {
  list-style: decimal;
}

#markdown-toc a {
  background-color: inherit;
  text-decoration: underline;
  text-decoration-style: dotted;
}

#markdown-toc {
  border: 1px solid #aaa;
  padding: 1.5em;
  list-style: decimal;
  display: inline-block;
}

.posts li {
  list-style-type: none;
  margin: 0;
  padding: 0 0 5px 0;
}

.posts li > span:after {
  content: " >";
}

.article-details {
  padding-left: 10px;
  margin-top: -23px;
  display: block;
  font-weight: bold;
  color: #afafaf;
}

div.footnotes:before {
  content: "Footnotes";
}

div.footnotes > ol > li > p {
  margin: 0;
}

.article-footnotes:before {
  content: "- - - - -";
  font-weight: bold;
  font-style: normal;
  display: block;
}

.article-social {
  font-style: italic;
}

.article-resources {
  display: block;
  font-style: normal;
}

article blockquote {
  border-left: 10px solid #E9D9D3;
  margin-left: 1.5em;
  padding-left: 10px;
}
article blockquote p {
  font-style: italic;
  display: inline;
}

.timestamp {
  color: #afafaf;
}

footer {
  position: relative;
  margin: 20px auto;
}
