<!doctype html>

<html lang="en">

<head>
  <meta charset="utf8">
  <title>[{{ page.site_url }}] {{page.title}}</title>

  <meta name="description" content="Random bits">
  <meta name="author" content="Wojtek Gumula">

  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto+Mono:300" rel="stylesheet">
  <link rel="icon" type="image/png" href="/images/hedgehog-32.png" />
  <script type="text/javascript" src="/js/command.js"></script>
</head>
<body>
  <header>
    <a href="#" id="root-url">[wgml.pl]</a>
    <h1 class="monospace">> cat /etc/profile</h1>
    <nav>
      <ul>
        <li>
          <a href="/" class="active-url">Root</a>
        </li>
        <li>
          <a href="/about.html">About me</a>
        </li>
        <li>
          <a href="/projects.html">Projects</a>
        </li>
        <li>
          <a target="_blank" href="./files/resume.pdf">Resume</a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/wgml">Github</a>
        </li>
      </ul>
    </nav>
    <div id="shell" class="monospace">
      <p class="command-line">
        <code class="bash"># Making yesterday tomorrow</code>
      </p>
      <p class="command-line" onclick="focusOnCommand(); return false;">
        <code id="cursor" class="bash"><input id="cursor-input"/></code>
      </p>
    </div>
  </header>

{{ content }}

<footer>
  <a href="https://github.com/wgml/wgml.github.io">Source</a>
  By the way, you can
  <a href="mailto:me@wgml.pl">send me a message</a>, too!
</footer>
</body>
</html>
