---
---

<!doctype html>

<html lang="en">

<head>
  <meta charset="utf8">
  <title>[{{ page.site_url }}] {{page.title}}</title>

  <meta name="description" content="Random bits">
  <meta name="author" content="Wojtek Gumula">

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/prism.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:300,400,700" rel="stylesheet">
  
  <link rel="icon" type="image/png" href="/images/hedgehog-32.png" />
</head>
<body>
  <header>
    <a href="{{site.url}}" id="root-url">[wgml.pl]</a>
    <h1>{{ page.title }}</h1>
    <nav id="navbar">
      <ul>
        {% for e in page.navbar %}
        <li>
          <a href="{{ e.url }}"{% if  e.url == page.url %} class="active-url"{% endif %} {{ e.args }}>{{ e.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </header>

{{ content }}

<footer>
  {{ page.author }}, <span title="Built {{ site.time | date: '%Y-%m-%d %T' }}">{{ site.time | date: '%Y' }}</span>. 
  <a href="{{ page.repository_url }}">Source</a>.
  By the way, you can
  <a href="mailto:{{ page.email }}">send me a message</a>.
</footer>

  <script src="/js/prism.js"></script>
</body>
</html>
